@import url('https://fonts.google.com/specimen/IBM+Plex+Mono?query=IBM+Plex+Mono#standard-styles');
@import url('https://fonts2u.com/font-awesome-5-brands-regular.font');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}