@media screen and (min-width: 320px){

}

@media screen and (min-width: 1440px){
    #interviews{
        img{
            display: block;
            margin: auto;
            width: 100%;
        }
        h2{
            margin-bottom: 30px;
        }
    }
    .interview-grid-container{
        display: grid;
        grid-template-columns: repat(3, 1fr);
    }
}