/*importacion de archivos parciales*/
/*about-us*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
@media screen and (min-width: 320px) {
  .about-us-image {
    width: 50%; }

  .about-us-info {
    margin-top: 30px;
    width: 40%; } }
@media screen and (min-width: 1440px) {
  .about-us-flex-container {
    display: flex; }

  .about-us-image-container {
    width: 100%; }

  .about-us-image {
    width: 100%;
    margin-top: -50px;
    margin-left: 150px;
    position: relative; }

  .about-us-info {
    margin-top: 40px;
    width: 70%; }

  .about-us-info-title {
    margin-right: 120px; }

  .about-us-info-text {
    margin-right: 200px;
    margin-top: 24px; } }
/*chapter*/
@media screen and (min-width: 320px) {
  #chapter iframe {
    padding: 40px 80px;
    width: 298px;
    height: 225px; } }
@media screen and (min-width: 1440px) {
  #chapter h2 {
    padding-top: 100px;
    font-size: 48px;
    color: white;
    font-family: 'IBM Plex Sans', monospace;
    letter-spacing: 0; }
  #chapter iframe {
    margin-left: 100px;
    width: 584px;
    height: 232px;
    border: none;
    overflow-x: hidden;
    overflow-y: hidden; }

  .chapter-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
/*footer*/
@media screen and (min-width: 1220px) {
  footer {
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
    margin-top: -90px;
    display: flex;
    text-align: center;
    background-color: white;
    position: absolute;
    justify-content: space-between;
    align-items: center; }
    footer h3 {
      font-weight: 100;
      margin: 0;
      padding: 10px; }

  .rules {
    margin: 20px 0; }
    .rules li {
      display: inline;
      margin: 30px 20px;
      text-decoration: none; }
      .rules li a {
        color: black; }
        .rules li a:hover {
          color: #00F0B8; } }
/*header*/
@media screen and (min-width: 320px) {
  .sandwich {
    margin-right: 20px; } }
@media screen and (min-width: 1440px) {
  header {
    width: 100%;
    height: 100px;
    top: 0;
    padding: 20px; }
    header nav {
      float: right; }
      header nav ul {
        width: 95%;
        top: 0px;
        left: 15px;
        height: 0px;
        margin-left: 40px;
        position: absolute;
        overflow: hidden;
        list-style: none;
        background: #0000FE;
        background: unset;
        height: unset;
        display: flex;
        flex-flow: row;
        justify-content: flex-end; }
      header nav li {
        padding: 0 20px;
        position: relative;
        text-transform: uppercase;
        color: white; }
      header nav a {
        padding: 16px 5%;
        line-height: 28px;
        font-size: 16px;
        margin: 30px 30px 0;
        position: relative;
        text-decoration: none;
        color: #060A24;
        display: block;
        display: inline-block; }
        header nav a:hover {
          cursor: pointer;
          color: #00F3BB;
          text-decoration: line-through; }
        header nav a:active {
          color: rgba(6, 10, 36, 0.56); }

  .responsive-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }

  .logo {
    width: 36px;
    height: 36px;
    margin-left: 100px;
    margin-top: 22px;
    float: left; }

  .sandwich {
    width: 25px;
    height: 3px;
    margin-bottom: 7px;
    margin-right: 10px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.4s ease;
    opacity: 0.45s ease;
    display: none; }
    .sandwich:first-child {
      transform-origin: 0% 0%; }
    .sandwich:nth-last-child(2) {
      transform-origin: 0% 100%; }

  .button {
    width: 40px;
    height: 30px;
    opacity: 0;
    z-index: 2;
    position: absolute;
    display: block; }
    .button:hover {
      cursor: pointer; }
    .button:checked ~ ul {
      height: 240px;
      transition: height 0.5s ease-in-out; }
    .button:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(2px, 1px); }
      .button:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .button:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(1px, 0px); } }
/*interview*/
@media screen and (min-width: 1440px) {
  #interviews img {
    display: block;
    margin: auto;
    width: 100%; }
  #interviews h2 {
    margin-bottom: 30px; }

  .interview-grid-container {
    display: grid;
    grid-template-columns: repat(3, 1fr); } }
/*main*/
@media screen and (min-width: 320px) {
  .btn {
    margin-top: 60px;
    width: 180px; }

  #chapter, #news {
    transform: skewY(-3deg); }

  .chapter-detail {
    transform: skewY(3deg); } }
@media screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; }

  body {
    font-size: 16px;
    letter-spacing: 2;
    line-height: 22px;
    color: #060A24;
    font-family: 'IBM Plex Mono', monospace; }

  h1 {
    font-size: 64px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 42px;
    width: 100%;
    padding-left: 200px;
    padding-right: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'IBM Plex Sans'; }

  h2 {
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 42px;
    width: 100%;
    padding-left: 200px;
    padding-right: 50px;
    margin-top: 100px;
    font-family: 'IBM Plex Mono', monospace; }

  h3 {
    font-size: 24px;
    padding: 30px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace; }

  span {
    text-decoration: line-through; }

  p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 200px;
    margin-right: 284px;
    width: 628px;
    height: 48px;
    color: #060A24; }

  .btn {
    width: 226px;
    height: 50px;
    margin-left: 200px;
    margin-top: 68px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    font-family: 'IBM Plex Mono';
    text-align: center;
    text-transform: uppercase;
    color: #060A24;
    border: none;
    text-decoration: none;
    background: #00F3BB; }
    .btn:hover {
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
      color: #FFFFFF;
      cursor: pointer; }

  #chapter, #news {
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(-6deg);
    margin-top: 50px;
    padding-bottom: 130px; }

  .chapter-detail {
    position: relative;
    transform: skewY(6deg); } }
/*news*/
/*topic*/
/*variables*/

/*# sourceMappingURL=style.css.map */
